#panel {
  width: 600px;
  height: 300px;
  border: 1px solid #999;
  position: relative;
}

#bar {
  position: absolute;
  left: 50px;
  top: 130px;
  width: 500px;
  height: 15px;
  background-color: #f33;
}

#jigu {
  width: 80px;
  position: absolute;
  left: 50px;
  top: 100px;
}

#btn {
  text-align: center;
  width: 600px;
}

#btnStart {
  font-size: 12pt;
  font-weight: bold;
}
